.cat-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cat-foto {
  padding-left: 10px;
  max-width: 40vw;
}

.cat-desc {
  width: 90%;
  padding-left: 10px;
}
@media only screen and (max-width: 550px) {
  .cat-foto {
    width: 95%;
  }
}
@media screen and (min-width: 551px) and (max-width: 767px) {
  .cat-desc {
    width: 500px;
  }
  .breed-select {
    width: 525px;
  }
}
@media only screen and (min-width: 768px) {
  .cat-info {
    display: flex;
  }
  .cat-foto {
    width: 49%;
  }
  .cat-desc {
    width: 49%;
    padding-left: 20px;
  }
  .breed-select {
    width: 50%;
  }
}
/* font-size: calc(24px + (16 + 16 * 1) * ((100vw - 280px) / 480)); */
